PORT=5000

MONGODB_URI=mongodb+srv://776yashp_db_user:YpQWTNtLAYibwKMg@cluster0.0mec5df.mongodb.net/?appName=Cluster0

JWT_SECRET=globetrotter_secret_key_2026_dev
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

UPLOAD_PROVIDER=local

CLOUDINARY_CLOUD_NAME=pcaamp0s
CLOUDINARY_API_KEY=385169798285419
CLOUDINARY_API_SECRET=kvgqOSHM9an1-TiUfQdlrBYNDUInpm run dev